*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.metadata
/.apt_generated
/.apt_generated_tests
/.classpath
/.factorypath
/.gitignore
/.idea
/.mvn
/.mvn/
/.project
/.settings
/target