*#
*.iml
*.ipr
*.iws
*.sw?
*~
.#*
.*.md.html

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.metadata
/.apt_generated
/.apt_generated_tests
/.classpath
/.factorypath
/.gitignore
/.idea
/.mvn
/.mvn/
/.project
/.settings
/target
